svg {

    width: 100%;
    height: 220px;

}

.select-rect {
    fill: none;
}

[id*='title'] foreignObject div {
    white-space: nowrap;
    display: inline-block;
}

[id*='title'] foreignObject p {
    display: inline-block;
}