

  .touchpoints {
      width: 100%;
    section {
        margin-top: 1em;
        margin-bottom: 2.5em;
        display: flex;
        justify-content: center;
        ion-button {
            margin: 0 1.5rem
        }
      }
    
      section:not(.full-width),
      .full-width > header {
        padding: 0 10px;
      }
  }