<p>touchpoints</p>
<div class="touchpoints">
  <!-- ROW 1 -->

  <section>
    <ion-button color="primary">tp1</ion-button>
    <ion-button color="primary">tp1</ion-button>
    <ion-button color="primary">tp1</ion-button>
  </section>

  <section>
    <ion-button color="primary">tp1</ion-button>
    <ion-button color="primary">tp1</ion-button>
    <ion-button color="primary">tp1</ion-button>
  </section>

  <section>
    <ion-button color="primary">tp1</ion-button>
    <ion-button color="primary">tp1</ion-button>
    <ion-button color="primary">tp1</ion-button>
  </section>
</div>