div {
    height: 85%;

    mat-form-field {
        background-color: white;
        height: 100%;
        width: 100%;

        textarea {
            color: black;
            width: 100%;
            height: 100%;
            min-height: 200px;
            box-sizing: border-box;
        }
    }
}