<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      StoryTemple SecondScreen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-current-slide></app-current-slide>
  <app-touchpoints></app-touchpoints>
  <app-notes></app-notes>

</ion-content>